$themeColor_darker: rgb(31, 78, 95);
$themeColor: rgb(121, 168, 170);
$themeColor_brighter: rgb(171, 208, 208);
$themeColor_bg: rgb(245, 247, 247);

.post-button {
    position: fixed;
    right: 60px;
    bottom: 160px;
    z-index: 2000;
}

.at-card {
    border-top: 1px #d6e4ef solid;
    border-bottom: 1px #d6e4ef solid;
    border-right: 1px #d6e4ef solid;
    border-left: 1px #d6e4ef solid;
    margin: 3% 4%;
    border-radius: 20rpx;
    background-color: #fff;
}

.at-card__header {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-align: center;
    border-bottom: 1px #d6e4ef solid;
    padding: 18rpx 24rpx;
    position: relative;
    height: 7vh;
}
.at-card__content {
    padding: 6rpx 24rpx;
}
.at-card__header-title {
    -webkit-flex: auto;
    -ms-flex: auto;
    flex: auto;
    -webkit-box-flex: auto;
    display: block;
    color: #2c405a;
    font-size: 44rpx;
}

.form-lable {
    border-left: 18px solid $themeColor;
    padding-left: 24px;
}
