.logged-mine {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mine-avatar {
  width: 25vh;
  height: 25vh;
  margin-top: 9vh;
  border-radius: 50%;
}

.Introduction{
  font-size: 50;
  margin-top: 20vh;
  margin-bottom: 8vh;
}
